<section class="order about">
  <div class="container">
    <div>
      <div>
        <div class="order-text-title double-title" id="order">
          <span>Лучшая</span> итальянская пиццерия!
        </div>
        <div class="order-text-massage">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aut cupiditate dolorem eligendi,
          magnam minima praesentium quaerat sint voluptas. Consequatur ex itaque laborum molestias possimus quos tenetur
          totam vero.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aut cupiditate dolorem eligendi,
          magnam minima praesentium quaerat sint voluptas. Consequatur ex itaque laborum molestias possimus quos tenetur
          totam vero.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aut cupiditate dolorem eligendi,
          magnam minima praesentium quaerat sint voluptas. Consequatur ex itaque laborum molestias possimus quos tenetur
          totam vero.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aut cupiditate dolorem eligendi,
          magnam minima praesentium quaerat sint voluptas. Consequatur ex itaque laborum molestias possimus quos tenetur
          totam vero.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aut cupiditate dolorem eligendi,
          magnam minima praesentium quaerat sint voluptas. Consequatur ex itaque laborum molestias possimus quos tenetur
          totam vero.
        </div>
      </div>
      <div class="about-image">
        <img src="../../../../assets/images/pizza_big.png" alt="Пицца">
        <img src="../../../../assets/images/pizza_big.png" alt="Пицца">
      </div>
    </div>
  </div>
</section>

<app-popup [data]="'about component'"></app-popup>
